body,
h5,
h6 {
  font-family: 'Noto Serif JP', serif;
  background-color: #d9d7d4;
  color: #121212;
  font-size: 1.3rem;
  line-spacing: 1.8rem;
}
a,
a:visited,
a:active,
a:hover {
  color: #fffdfd;
}
h1,
h2,
h3,
h4 {
  margin-top: 2.5rem;
  font-family: 'Luckiest Guy', serif;
}
td {
  margin-top: 2.5rem;
}
.center {
  margin: auto;
  width: 90%;
}
