orange = #D6A753
blue = #40597D
light = #f9f7f4

body,h5,h6
  font-family 'Helvetica Neue', sans-serif
  background-color light
  color blue
  font-size 1.3rem
  line-spacing 1.8rem

a,a:visited,a:active,a:hover
  color orange
  text-decoration none

h1,h2,h3,h4
  margin-top 2.5rem
  font-family 'Helvetica Neue', sans-serif
  color blue

td
  margin-top 2.5rem

#main.center
  margin auto
  width 640px

.centered
  text-align center
  width 100%

for depth in 1 2 3 4 5 6
  .d{depth}
    filter drop-shadow(0px*depth 3px*depth 1px*depth #aaa)

#main
  border none
  border-radius 10px
  padding 24px

img.logo
  width 600px

footer
  position relative
  height 130px
  border-radius 10px
  padding 12px
  background-color blue
  width 640px
  margin auto
  margin-top 350px
  ul
    list-style-type none
    padding 20px
    margin 10px
    li
      margin 10px

img.gravatar
  float right
  max-height 128px

.icon
  display inline
  color orange
  font-size 3rem
  font-weight 700
  margin-right 10px
